{#form.html#}

{% extends 'base.html' %}
{% block title %}Edit Setting ... {% endblock %}

{% block content %}
    {#    {{ user.profile.bio }}#}
    {#    <small>#}
    {#        By: {{ title.user }}#}
    {#    </small>#}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class=" border-left-info shadow py-2">
                    <div class="card-header text-white text-center">
                        <h2 class="text-info-emphasis list-group-item list-group-item-dark p-3">Edit Setting...</h2>
                    </div>
                    <div class="card m-3">
                        <div class="card-body">
                            <div class="form-group">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-secondary">Update Profile</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#        <h2 class="text-info-emphasis mb-4">Edit Setting...</h2>#}
        </div>
    </div>
{% endblock %}

{#vThe enctype="multipart/form-data" attribute is necessary because the form includes file fields (ImageField and FileField).#}
{#form.as_p renders the form as a series of paragraphs, with each form field wrapped in a <p> tag. You can use form.as_table or form.as_ul for different renderings.#}